{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    <div class="col-md-4">
        {{ form_widget(form) }}
        <input class="btn btn-default" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        <a href="{{ path('fos_user_profile_show') }}">Retour</a>
    </div>

<script type="text/javascript">

    $(document).ready(function() {

        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.

        var $container = $('div#fos_user_profile_form_tags');


        // On ajoute un lien pour ajouter une nouvelle catégorie

        var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une langue parlée</a>');

        $container.append($addLink);


        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.

        $addLink.click(function(e) {

            addCategory($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL

            return false;

        });


        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement

        var index = $container.find(':input').length;



        // Pour chaque catégorie déjà existante, on ajoute un lien de suppression

        $container.children('div').each(function() {

            addDeleteLink($(this));
        });


        // La fonction qui ajoute un formulaire Categorie

        function addCategory($container) {

            // Dans le contenu de l'attribut « data-prototype », on remplace :

            // - le texte "__name__label__" qu'il contient par le label du champ

            // - le texte "__name__" qu'il contient par le numéro du champ

            var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Langue n°' + (index+1))

                    .replace(/__name__/g, index));


            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie

            addDeleteLink($prototype);


            // On ajoute le prototype modifié à la fin de la balise <div>

            $container.append($prototype);


            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro

            index++;

        }


        // La fonction qui ajoute un lien de suppression d'une catégorie

        function addDeleteLink($prototype) {

            // Création du lien

            $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');


            // Ajout du lien

            $prototype.append($deleteLink);


            // Ajout du listener sur le clic du lien

            $deleteLink.click(function(e) {

                $prototype.remove();
                index--;

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL

                return false;

            });

        }

    });

</script>
<script type="text/javascript">

    $(document).ready(function() {

        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.

        var $container = $('div#fos_user_profile_form_villehebergement');


        // On ajoute un lien pour ajouter une nouvelle catégorie

        var $addLink = $('<a href="#" id="add_ville" class="btn btn-default">Ajouter une ville</a>');

        $container.append($addLink);


        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.

        $addLink.click(function(e) {

            addVille($container);

            e.preventDefault(); // évite qu'un # apparaisse dans l'URL

            return false;

        });


        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement

        var index = $container.find(':input').length;



        // Pour chaque catégorie déjà existante, on ajoute un lien de suppression

        $container.children('div').each(function() {

            addDeleteLink($(this));
        });


        // La fonction qui ajoute un formulaire Categorie

        function addVille($container) {

            // Dans le contenu de l'attribut « data-prototype », on remplace :

            // - le texte "__name__label__" qu'il contient par le label du champ

            // - le texte "__name__" qu'il contient par le numéro du champ

            var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Ville n°' + (index+1))

                    .replace(/__name__/g, index));


            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie

            addDeleteLink($prototype);


            // On ajoute le prototype modifié à la fin de la balise <div>

            $container.append($prototype);


            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro

            index++;

        }


        // La fonction qui ajoute un lien de suppression d'une catégorie

        function addDeleteLink($prototype) {

            // Création du lien

            $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');


            // Ajout du lien

            $prototype.append($deleteLink);


            // Ajout du listener sur le clic du lien

            $deleteLink.click(function(e) {

                $prototype.remove();
                index--;

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL

                return false;

            });

        }

    });

</script>
{{ form_end(form) }}
